<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 class="head"><i class="fa-solid fa-address-book fa-bounce"></i>&nbsp;My Contacts List</h1>
    <div class="container">
        <ul>
            <% for (let i of contact_list) { %>

                <li class="con">
                    <div class="details">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                    </div>
                    <div class="del">
                        <a href="/delete-contact/?id=<%= i._id %>">
                            <i class="fa-solid fa-trash fa-shake fa-sm" style="color: #f9f045;"></i>
                        </a>
                    </div>

                </li>
            <% } %>

        </ul>
    </div>

    <form id="za" action="/create-contacts" method="post">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone" required>


        <button id="jo" type="submit">Add</button>
    </form>



    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>